body {
    font-family: 'Roboto', sans-serif;
    color: #2e2f42; ;

}


.header-nav-link {
    font: 500 16px / 1.5 "Roboto", sans-serif;
letter-spacing: 0.02em;
color: #2e2f42;
}
.header-nav-color{
    font: 700 18px / 1.16667 "Raleway", sans-serif;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.header-nav-list .header-nav-link {
    color: #2e2f42;
}
.header-nav-list .header-nav-link:hover, .header-nav-list .header-nav-link:focus {
    color: #404bbf;

}
.header-nav-list .header-nav-link:active {
    color: #404bbf;
}
.main-hero .main-hero-btn {
   color: #fff;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
border-radius: 4px;
padding: 16px 32px;
width: 169px;
height: 56px;
display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: row;
gap: 10px; }

.main-hero .main-hero-btn:hover, .main-hero .main-hero-btn:focus {
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
}
   
    
}